

.listaextras,.listaextras ion-list{
    background: rgb(255, 255, 246);
}
.extras{
    color: red;
    background: rgb(255, 255, 232);
    margin-top: 0.5em;
    border-top: 1px dashed red;
}
.elim{
    color:white;
    background:red;
    padding: 2px 4px;
}
h3{
    font-weight: bold;
}