<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" id="mimenu">
      <ion-content>
        
        <ion-list id="inbox-list">
          <ion-list-header>Para Llevar</ion-list-header>
          <ion-note>App Negocio - version 5</ion-note>
          <div class="division"></div>
          
        </ion-list>
        <!-- <ion-item [routerLink]="['/listapedidos']">
          <ion-label>Lista de Pedidos</ion-label>
        </ion-item> -->
        <ion-item [routerLink]="['/listapedidosayer']">
          <ion-label>Pedidos de AYER</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/listapedidoshist']">
          <ion-label>Pedidos HISTORICO</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/listaproductos']">
          <ion-label>Administrar Productos</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/reordenaproducto']">
          <ion-label>Reordenar Productos</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/perfilnegocio']">
          <ion-label>Perfil negocio</ion-label>
        </ion-item>
        <ion-item [routerLink]="['']">
          <ion-label>Salir</ion-label>
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
