.unpedido{
    font-weight: bold;
}
.celular{
    font-size: 0.8em;
    color:gray;
    font-style: italic;;
}
.precio{
    text-align: right;
    font-size: 1.3em;
    font-weight: bolder;
}
.filapedido{
    border-bottom: 1px solid gray;
}
.nomcli{
    font-weight: 400;
}
.hora{
    color: yellow;
    font-weight: bold;
}