.ocultar{
    display: none;
}
.sino{
    font-size: 0.8em;
}
.txtsobre{
    font-size: 0.7em;
}
.botones{
    display: flex;
    justify-content: space-between;
}
.fonos{
    border-right:1px solid lightgray;
}